<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">

    <title>Vancouver Shelter</title>
</head>
<body>
    <header class="headerwrapper reduced">
        <div class="container-header">
            <div class="inner-header-container header-sticky" id="stickyheader">
                <div class="header-section">
                    <div class="logo-img">
                        <a href="/index"><img src="css/images/logo_.png"></a>
                    </div>
                    <div class="header-texts">
                        <p>Vancouver</p>
                        <p>Beloved Shelter</p>
                    </div>
                </div>
                <div class="menu-toggle">
                    <nav class="navbar">
                        <ul class="nav-menu">
                            <li class="nav-item">
                                <a href="/index" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="/about" class="nav-link">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="/team" class="nav-link" id="active">Our Team</a>
                            </li>
                            <li class="nav-item">
                                <a href="/events" class="nav-link">Events</a>
                            </li>
                            <li class="nav-item">
                                <a href="/adopt" class="nav-link">Adopt</a>
                            </li>
                            <li class="nav-item">
                                <a href="/volunteer" class="nav-link">Volunteer</a>
                            </li>
                        </ul>
                        <div class="hamburger">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="header-content small">
            <div class="content-container">
                <p>Our Team</p>
                <h1>Staff &amp; Volunteers</h1>
            </div>
        </div>
        <div class="button-area">
            <div class="donate-button">
                <button name="submit" class="donatebutton"><span>Donate Now</span></button>
            </div>
        </div>
    </header>
    <main>
        <section class="volunteers">
            <div class="volunteers_wrapper">
                <div class="volunteer">
                    <div class="volunteer_image">
                        <img src="css/images/volunteer1.jpg" alt="Woman smiling">
                    </div>
                    <h3>Minerva McGonagall</h3>
                    <p>Director</p>
                </div>
                <div class="volunteer">
                    <div class="volunteer_image">
                        <img src="css/images/volunteer2.jpg" alt="Men smiling on dark background">
                    </div>
                    <h3>Dean Thomas</h3>
                    <p>Staff</p>
                </div>
                <div class="volunteer">
                    <div class="volunteer_image">
                        <img src="css/images/volunteer3.jpg" alt="Woman smiling on blurred trees on the background">
                    </div>
                    <h3>Parvati Patil</h3>
                    <p>Staff</p>
                </div>
                <div class="volunteer">
                    <div class="volunteer_image">
                        <img src="css/images/volunteer4.jpg" alt="Woman smiling on blurred trees on the background">
                    </div>
                    <h3>Padma Patil</h3>
                    <p>Staff</p>
                </div>
                <div class="volunteer">
                    <div class="volunteer_image">
                        <img src="css/images/volunteer3.jpg" alt="Men smiling on blurred trees on the background">
                    </div>
                    <h3>Neville Longbottom</h3>
                    <p>Volunteer</p>
                </div>
                <div class="volunteer">
                    <div class="volunteer_image">
                        <img src="css/images/volunteer6.jpg" alt="Woman beside a white car with blurred background">
                    </div>
                    <h3>Belatriz Lestrange</h3>
                    <p>Volunteer</p>
                </div>
                <div class="volunteer">
                    <div class="volunteer_image">
                        <img src="css/images/volunteer7.jpg" alt="Woman smiling on a red background">
                    </div>
                    <h3>Luva Lovegood</h3>
                    <p>Volunteer</p>
                </div>
                <div class="volunteer">
                    <div class="volunteer_image">
                        <img src="css/images/volunteer8.jpg" alt="Men in white smiling">
                    </div>
                    <h3>Draco Malfoy</h3>
                    <p>Volunteer</p>
                </div>
            </div>
        </section>
        <section class="information">
            <div class="column">
                <h2>Know more about what is like to be a volunteer</h2>
                <p>Talk to one of our volunteers about the joys and responsabilities</p>
                <div class="load_more">
                    <button><span>More</span></button>
                </div>
            </div>
        </section>
        <section class="values">
            <div class="introduction-values">
                <h2>These are the values that guide our work</h2>
                <p>Know a little more of why we do what we do</p>
            </div>
            <div class="values-wrapper">
                <div class="value">
                    <img src="css/images/mission.png" alt="The draw of a target on transparent background">
                    <h3>Our Mission</h3>
                    <p>We want to find a home for every single abandonned animal in great Vancouver area. An empty shelter would be a very happy place.</p>
                </div>
                <div class="value">
                    <img src="css/images/vision.png" alt="The draw of an eye">
                    <h3>Our Vision</h3>
                    <p>We aim to be seen as a reference when it comes to finding a home for abandonned animals</p>
                </div>
                <div class="value">
                    <img src="css/images/values.png" alt="The draw of a diamond">
                    <h3>Our Values</h3>
                    <p>We are passionate! The love for all animals and their uniqueness are gears to remember why we do this every single day.</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="logo-footer">
            <div class="logo-footer-img">
                <a href="/index"><img src="css/images/logo_white.png"></a>
            </div>
            <div class="header-texts">
                <p>Vancouver</p>
                <p>Beloved Shelter</p>
            </div>
        </div>
        <div class="icons-footer">
            <a href="#"><i class="fa-brands fa-instagram-square fa-2x"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-square fa-2x"></i></a>
            <a href="#"><i class="fa-brands fa-snapchat-square fa-2x"></i></a>
            <a href="#"><i class="fa-brands fa-twitter-square fa-2x"></i></a>
        </div>
        <div class="copyright-footer">
            <p>&copy;Copyright | Caroline 2022.</p>
        </div>
    </footer>
    <script src="/scripts/scripts.js"></script>
    <script src="https://kit.fontawesome.com/1ce1c0ec70.js" crossorigin="anonymous"></script>
</body>
</html>