<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">

    <title>Vancouver Shelter</title>
</head>
<body>
    <header class="headerwrapper reduced">
        <div class="container-header">
            <div class="inner-header-container header-sticky" id="stickyheader">
                <div class="header-section">
                    <div class="logo-img">
                        <a href="/index"><img src="css/images/logo_.png"></a>
                    </div>
                    <div class="header-texts">
                        <p>Vancouver</p>
                        <p>Beloved Shelter</p>
                    </div>
                </div>
                <div class="menu-toggle">
                    <nav class="navbar">
                        <ul class="nav-menu">
                            <li class="nav-item">
                                <a href="/index" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="/about" class="nav-link">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a href="/team" class="nav-link">Our Team</a>
                            </li>
                            <li class="nav-item">
                                <a href="/events" class="nav-link">Events</a>
                            </li>
                            <li class="nav-item">
                                <a href="/adopt" class="nav-link">Adopt</a>
                            </li>
                            <li class="nav-item">
                                <a href="/volunteer" class="nav-link" id="active">Volunteer</a>
                            </li>
                        </ul>
                        <div class="hamburger">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="header-content small">
            <div class="content-container">
                <p>Way to help</p>
                <h1>There is more than one way to volunteer</h1>
                <p>&nbsp;</p>
                <p>Know more about the ways you can help</p>
            </div>
        </div>
        <div class="button-area">
            <div class="donate-button">
                <button name="submit" class="donatebutton"><span>Donate Now</span></button>
            </div>
        </div>
    </header>
    <main>
        <section class="volunteer_section">
            <div class="be_volunteer">
                <div class="row">
                    <p>Volunteer</p>
                    <h2>Some things money can't buy</h2>
                    <hr>
                </div>
                <div class="shelter-foster">
                    <div class="volunteer_wrapper">
                        <div class="history-texts">
                            <h3>Shelter Volunteer</h3>
                            <p>All the support provided by Beloved Shelter is 100% volunteer based, which means that we rely on wonderful people like yourself to help the animals we rescue.</p>
                            <p>We have open postitions all year round, and you don't need to commit to a set number of hours. However, we count on upfront information to put together schedules and to organize events.</p>
                            <p>At our shelter, you can help with:</p>
                            <ul>
                                <li><i class="fa-solid fa-chevron-right"></i>Feeding the dogs</li>
                                <li><i class="fa-solid fa-chevron-right"></i>Cleaning</li>
                                <li><i class="fa-solid fa-chevron-right"></i>Medication</li>
                                <li><i class="fa-solid fa-chevron-right"></i>Organization for events</li>
                                <li><i class="fa-solid fa-chevron-right"></i>Giving a lot of hugs and love!</li>
                            </ul>
                            <p>You can find a spot where you feel the most comfortable. If you are a very good administrator, you can help organizing events.</p>
                            <p>We also always need help with adoptions applications review, marketing and tech. It doesn't matter what you like, we can find you a spot to help.</p>
                        </div>
                    </div>
                    <div class="section_wrapper">
                        <div class="history-texts">
                            <h3>Fostering</h3>
                            <p>If you can help better at home, and have some space, we are always looking for fosters. Give our dogs and cats lots of love while they get ready for adoption. They will be way more comfortable at home than in the shelter, and we're sure they'll have a lot more fun too!</p>
                            <p>Fostering helps them to understand and adjust to a new reality, which in some cases, can be highly different from their previous home, given that many of them used to live in the streets.</p>
                        </div>
                        <div class="history-img">
                            <img src="css/images/foster.jpg" alt="Black and white short coated dog lying on a blue textile">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="values">
            <div class="introduction-values">
                <h2>These are the values that guide our work</h2>
                <p>Know a little more of why we do what we do</p>
            </div>
            <div class="values-wrapper">
                <div class="value">
                    <img src="css/images/mission.png" alt="The draw of a target on transparent background">
                    <h3>Our Mission</h3>
                    <p>We want to find a home for every single abandonned animal in great Vancouver area. An empty shelter would be a very happy place.</p>
                </div>
                <div class="value">
                    <img src="css/images/vision.png" alt="The draw of an eye">
                    <h3>Our Vision</h3>
                    <p>We aim to be seen as a reference when it comes to finding a home for abandonned animals</p>
                </div>
                <div class="value">
                    <img src="css/images/values.png" alt="The draw of a diamond">
                    <h3>Our Values</h3>
                    <p>We are passionate! The love for all animals and their uniqueness are gears to remember why we do this every single day.</p>
                </div>
            </div>
        </section>
        <section class="facts">
            <div class="first-fact">
                <p>Some Facts</p>
                <p>Our Activities</p>
                <hr>
            </div>
            <div class="fact">
                <p>Donation</p>
                <p>$1000K</p>
            </div>
            <div class="fact">
                <p>Volunteers</p>
                <p>350+</p>
            </div>
            <div class="fact">
                <p>Animals recued</p>
                <p>10000+</p>
            </div>
        </section>
        <section class="adoption_form">
            <div class="row">
                <p>Want to join?</p>
                <h2>If you have interest in volunteering, please fill the form and choose the best option for you. We'll get in touch</h2>
                <hr>
                <p id="black">Do not hesitate in contact us</p>
                <br>
                <p>phone us at</p>
                <p id="black">(778) 123 4567</p>
                <br>
                <p>Email us at</p>
                <p id="black">contact@belovedshelter.com</p>
            </div>
            <div class="form">
                <div class="form_texts">
                    <p>New Volunteer</p>
                    <p>All the information is required</p>
                </div>
                <form action="get">
                    <label>Full Name</label>
                    <input type="text" placeholder="Name *">
                    <label>Email</label>
                    <input type="email"placeholder="Email *">
                    <label>Phone Number</label>
                    <input type="tel" placeholder="Phone Number *">
                    <label>Adress</label>
                    <input type="text" placeholder="Address *">
                    <label>City</label>
                    <input type="text" placeholder="City">
                    <fieldset>
                        <label>Volunteer type</label>
                        <input type="checkbox" name="shelter" id="shelter" value="shelter">
                        <label for="shelter">Shelter</label>
                        <input type="checkbox" name="foster" id="foster" value="foster">
                        <label for="foster">Foster</label>
                    </fieldset>
                    <label for="message">Message</label>
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Message:"></textarea>
                    <br>
                    <div class="load_more">
                        <button type="submit"><span>Submit</span></button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <div class="logo-footer">
            <div class="logo-footer-img">
                <a href="/index"><img src="css/images/logo_white.png"></a>
            </div>
            <div class="header-texts">
                <p>Vancouver</p>
                <p>Beloved Shelter</p>
            </div>
        </div>
        <div class="icons-footer">
            <a href="#"><i class="fa-brands fa-instagram-square fa-2x"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-square fa-2x"></i></a>
            <a href="#"><i class="fa-brands fa-snapchat-square fa-2x"></i></a>
            <a href="#"><i class="fa-brands fa-twitter-square fa-2x"></i></a>
        </div>
        <div class="copyright-footer">
            <p>&copy;Copyright | Caroline 2022.</p>
        </div>
    </footer>
    <script src="/scripts/scripts.js"></script>
    <script src="https://kit.fontawesome.com/1ce1c0ec70.js" crossorigin="anonymous"></script>
</body>
</html>